{%extends 'base.html' %}

{% block content %}

  <!-- Si utilizamos componentes de Bootstrap que requieran Javascript agregar estos tres archivos -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <div class="container-fluid" >
      <div class="row h-100">
        <div class="col-lg-2"  style="background-color:#ffffff">
          <h4><p class="font-weight-light">FEBE Parameters</p></h4>
  
          <div class="container-fluid opacity-20" >
              <form action="create_sources" method="post">
                {% csrf_token %}
  
                <table class="table table-hover table-sm">
                {{ form_febe_parameters}}
                </table>
                <button type="submit" class="btn btn-secondary btn-sm disabled">Continue to sources</button>
  
              </form>
          </div>
        </div>
  
        <div class="col-lg-2"  style="background-color:#ffffff">

          <h4><p class="font-weight-light">Sources  Selection</p></h4>

          <div class="container-fluid  opacity-20" >
            <form action="create_setup" method="post">
              {% csrf_token %}
  
              <table class="table table-hover table-sm">
              {{ form_select_sources}}
              </table>
              <button type="submit" class="btn btn-secondary btn-sm disabled">Continue to set-up</button>
            </form>
          </div>
        </div>
  
  
        <div class="col-lg-6"  style="background-color:#ffffff">

          <h4><p class="font-weight-light">Set Up</p></h4>

          <div class="container-fluid">
            <form action="create_integration" method="post">
                {% csrf_token %}
                <table class="table table-hover table-sm" >
                {{ form_setup}}
                </table>
                <button type="submit" class="btn btn-secondary btn-sm">Continue to integration</button>
     
            </form>
          </div>
      </div>
      <div class="col-lg-2"  style="background-color:#ffffff">

        <h4><p class="font-weight-light">Integration</p></h4>

        <div class="container-fluid opacity-20">
          <form action="session_complete" method="post">
              {% csrf_token %}
              <table class="table table-hover table-sm">
                {{ form_integration}}
              </table>
              <button type="submit" class="btn btn-secondary btn-sm disabled">Validate  Session</button>
    
          </form>
        </div>
    </div>
  </div>
  
  
{% endblock %}